hr{
	height: 8px;
	background-color: blue;
	border: none;
	width: 900px;
	margin-left: 0;
}
p{
	color: rgb(33, 33, 108);
	font-style: italic;
	font-size: 27px;
	font-weight: bold;
}
h1{
	color: rgb(187, 51, 51);
	font-size: 27px;
	font-weight: bold;
}